<!DOCTYPE html>
<html lang="ptbr">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
        <% if(req.session.loggedin) { %>
        <%- include('../partials/menu_dashboard'); %>
        <% } %>        
    </header>

    <main>
        <div class="row">
            <div class="col-sm-12" >
                <div class="jumbotron">
                    <h1>Site de Revisão - Isabella</h1>
                    <h2>Mais flores para vocês, amadinhos.</h2>
                    <br>
                    <h6>CONTATOS:</h6>
                    <h7>(19) 93836-8387</h7>
                    <h7>(19) 36728-2289</h7>
                    <br>
                    <br>
                    <h2>Sobre o  site:</h2>
                    <h7>Este é um site para amantes de flores!</h7>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <h2>Gosta de flores?</h2>
                    <%- include('../partials/flex-images-wrapp'); %>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>