<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
        <% if(req.session.loggedin) { %>
        <%- include('../partials/menu_dashboard'); %>
        <% } %>

    </header>

    <main style="max-height: 30%;">
        <div>
            <div>
                <p>
                    <%= req.session.username %> você está em seu perfil.
                </p>
                <p>Se quiser faça <a href="/logout">logout</a> ou navegue em suas opções.</p>
            </div>
        </div>
    </main>
    <br>
    <div class="pages">
    <h1>Escreva um conteúdo para o blog:</h1>
    <input type="text" id="comentario" name="comentario" required style="width: 70vw; height: 2w;">
    <br>
    <button type="submit" id="entrar">Enviar</button>
    <br>
    <br>
    <br>
    <img src="flor5.png" alt="" height="90"> Flores são bonitas! Conheça mais sobre flores bonitas.
    <br>
    <br>
    <img src="flor6.png" alt="" height="90"> Flores são fofas! Conheça mais sobre flores fofas.
    <br>
    <br>
    <img src="flor7.png" alt="" height="90"> Flores são incríveis! Conheça mais sobre flores incríveis.
    <br>
    <br>
    <img src="flor8.png" alt="" height="90" width="90"> Flores são cheirosas! Conheça mais sobre flores cheirosas.
    <br>
    <br>
    <img src="flor9.png" alt="" height="90"> Flores são agro! Conheça mais sobre flores agro.
    <br>
    <br>
    <img src="flor10.png" alt="" height="90"> Flores são charmosas! Conheça mais sobre flores charmosas.
    <br>
    <br>
    <img src="flor11.png" alt="" height="90"> Flores são pop! Conheça mais sobre flores pop.
    <br>
   


    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <style>
        #entrar{
            background-color: #E6D7D4;
        }


    </style>

</body>